build
install
log
weights
*.onnx
*.trt
settings.json
datasets
.vscode
*.json
*.pth
*.webp
*.onnx
pytorch_model.bin
/software/alpha/alpha_training/pucks_dataset
/software/alpha/alpha_training/models/dfine*